* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
   
}

.container {
    height: 100vh;
    background-image: url('assets/overlay.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 13vh;
    text-align: center;
}

#time {
    font-size: 8rem;
}

#date {
    font-size: 2.5rem;
}

h1 {
    font-size: 2rem;
    margin: 3rem 0;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.6;
}

#name {
    display: inline-block;
    min-width: 10px;
}

#refresh {
    background: url('assets/refresh.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border: none;
    opacity: 0.6;
}

#refresh:hover {
    opacity: 1;
    cursor: pointer;
}

#refresh:focus,
#refresh:active {
    outline: none;
}

#refresh:active {
    transform: scale(1.02);
  }

@media(max-width: 700px) {
    #time {font-size: 6rem;}
}