* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
   
}

.container {
    height: 100vh;
    background-image: url('assets/overlay.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 13vh;
    text-align: center;
}

#time {
    font-size: 8rem;
}

#date {
    font-size: 2rem;
}

h1 {
    font-size: 2rem;
    margin: 2.5rem 0;
    display: flex;
    justify-content: center;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.7;
}

#name {
    display: inline-block;
    min-width: 10px;
    margin-left: 0.5rem;
}

.button {
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    opacity: 0.6;
}

.refresh-btn {
    background: url('assets/refresh.svg');
    position: absolute;
    left: 50px;
    top: 50px;
    width: 45px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
}

.button:hover {
    opacity: 1;
    cursor: pointer;
}

.button:focus,
.button:active {
    outline: none;
}

.button:active {
    transform: scale(1.02);
}

.advice_container{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 2rem;
}

.advice {
    
    font-size: 1.3rem;
}

.advice-btn {
    background: url('assets/next.svg');
    width: 20px;
    height: 20px;
}

@media(max-width: 700px) {
    #time {font-size: 6rem;}
}